/*!DOCTYPE css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*begin styling*/

@font-face {
    font-family: 'nickainleynormal';
    src: url('fonts/nickainley-normal-webfont.woff2') format('woff2'),
         url('fonts/nickainley-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	background:
	linear-gradient(to top, rgba(160, 9, 64, 0.9), rgba(255, 20, 106, 0.3)),
	url("http://crystalfitzgerald.com/images/hands-laptop.jpg") center center no-repeat;
	background-size: 100%;
	font-family: 'Quicksand', Helvetica, sans-serif;
	color: #fff;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
	}
	.computer {
		max-width: 200px;
		grid-column: 2/span 1;
		grid-row: 1/span 2;
		margin-top: 50px;
	}
	.headline {
		grid-column: 2/span 1;
		grid-row: 1/2;
		margin-top: 250px;
		text-align: center;
	}
	.social {
		grid-column: 2/span 1;
		grid-row: 1/2;
		margin: 370px auto 0 auto;
	}
	a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.7);
	}
	a:hover {
		color: #fff;
		opacity: 1;
	}
	#crystal, #frontend {
		padding-bottom: 10px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}
	#crystal {
		font-size: 3.8em;
		font-family: 'nickainleynormal', Helvetica, sans-serif;

	}
	#frontend {
		font-size: 2.5em;
		padding: 10px 0;
	}
	#facebook, #instagram, #github, #linkedin, #fiddle {
		width: 50px;
		padding-right: 5px;
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
		padding-top: 10px;
	}
	/*media queries and mobile styling below*/
	@media only screen and (max-width: 1000px) {
		body {
			background-size: cover;
		}
	}
	@media only screen and (max-width: 800px) {
		body {
			background-size: cover;
		}
		h1, h2 {
		}
		#crystal {
			font-size: 2.5em;
		}
		#frontend {
			font-size: 1.5em;
		}
		#facebook, #instagram, #github, #linkedin, #fiddle {
			width: 75px;
		}
	}
