/*!DOCTYPE css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*begin styling*/
body {
	background:
	linear-gradient(to top, rgba(160, 9, 64, 0.9), rgba(255, 20, 106, 0.3)),
	url("http://crystalfitzgerald.com/images/hands-laptop.jpg") center center no-repeat;
	background-size: 100%;
	font-family: 'Quicksand', Helvetica, sans-serif;
	color: #fff;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
	}
	.computer {
		max-width: 200px;
		grid-column: 2/span 1;
		grid-row: 1/span 2;
		margin-top: 50px;
	}
	.headline {
		grid-column: 2/span 1;
		grid-row: 1/2;
		margin-top: 250px;
		text-align: center;
	}
	.social {
		grid-column: 2/span 1;
		grid-row: 1/2;
		margin: 370px auto 0 auto;
	}

	#crystal, #frontend {
		padding-bottom: 10px;
	}
	#crystal {
		font-size: 3.5em;

	}
	#frontend {
		font-size: 2.5em;
		opacity: 0.5;
	}
	#facebook, #instagram, #github, #linkedin, #fiddle {
		width: 30px;
		padding-right: 5px;
	}
	/*media queries and mobile styling below*/
	@media only screen and (max-width: 800px) {
		body {
			background: #ff146a;
		}
		#crystal {
			font-size: 2.5em;
		}
		#frontend {
			font-size: 1.5em;
		}
		#facebook, #instagram, #github, #linkedin, #fiddle {
			width: 100px;
		}
	}
