/*!DOCTYPE css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*begin styling*/
body {
	background-color: #ff146a;
	font-family: 'Quicksand', Helvetica, sans-serif;
	color: #fff;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	}
	nav {
		box-shadow: 4px 0 2px rgba(0, 0, 0, .7);
		z-index: 1;
	}
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    color: #ff146a;
    opacity: 0.6;
    font-size: 1.4em;
  }
  a:hover {
    color: #ff146a;
    opacity: 1;
  }
  p {
    font-size: 1em;
  }
  .bio {
    grid-column: 2;
    text-align: center;
    margin: auto;
  }
  #myname, #myjob {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  #myname {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #myjob {
    padding-bottom: 10px;
  }
  .menu {
    padding: 10px 0;
  }
  .menu ul {
    grid-column: 1;
    text-align: center;
    margin: auto;
		font-size: 0.8em;
  }
  .menu li {
    display: inline;
    padding-right: 20px;
  }
	.menu a {
		color: #fff;
		opacity: .7;
	}
	.menu a:hover {
		color: #fff;
		opacity: 1;
	}
.me {
  margin-top: -250px;
  margin-bottom: 50px;
  padding-left: 150px;
}
#about {
  background: linear-gradient(to top, rgba(255, 247, 250, 1), rgba(255, 247, 250, 0.2)),
	url("http://crystalfitzgerald.com/images/laptop-white.jpg") center center no-repeat;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 50px auto;
  height: 350px;
}
#about p {
  line-height: 1.5;
  width: 60%;
  margin: auto;
  grid-column: 1;
  grid-row: 2;
  font-size: 1.2em;
  color: #ff146a;
}
#about img {
  width: 250px;
  margin-top: 50px;
  grid-column: 1;
  grid-row: 2;
  padding-left: 100px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#portfolio {
  padding-top: 50px;
  padding-bottom: 100px;
	background-color: #fff7fa;
	color: #ff146a;
}
#portfolio h1, #portfolio h2 {

  text-align: center;
  margin: auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.recent, .dev, .concepts, .projects {
  margin-top: 75px;
}
#javascript {
	width: 500px;
	margin: 75px auto;
	display: block;
}
#samantha {
	width: 500px;
  margin: 75px auto;
	display: block;
}
#codeday {
  margin: 75px auto;
	display: block;
}
#kirkmock {
  width: 500px;
  margin: 75px auto;
	display: block;
}
#kirklink {
  text-decoration: none;
  opacity: 1;
}
#lhl-logo {
	width: 500px;
	display: block;
	margin: 75px auto;
}
#splashimg, #homeimg {
  width: 500px;
  margin: 75px auto;
	display: block;
}
#beholdhome, #beholdsplash {
  text-decoration: none;
  opacity: 1;
}

.links {
  text-align: center;
  margin: auto;
  padding-left: 100px;
  padding-top: 55px;
}
.links a {
  margin-top: 20px;
  padding-right: 100px;
}
#contact {
  background-color: rgba(255, 247, 250, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  width: 100%;
  height: 100px;
}
.social {
  grid-column: 1;
  margin-left: 450px;
  width: 50%;
}
#contact a {
  display: inline;
  opacity: 1;
}
#fiddle, #github, #facebook, #instagram, #linkedin, #email {
  max-width: 50px;
  padding-right: 20px;
  margin: 20px 0 20px 0;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
}
#skills {
  width: 100%;
  background-color: rgba(255, 247, 250, 1);
  color: #ff146a;
}
#myskills {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 40px;
}
#skills ul {
  margin: 20px auto;
}
#skills li {
  font-size: 1.3em;
  line-height: 1.5;
  padding-bottom: 10px;
  margin-left: 450px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}
.languages {
	margin: 20px auto 20px 350px;
	grid-column: 1;
}
.languages img {
	display: inline;
}
#css, #php, #html, #python, #js {
	width: 100px;
	padding: 20px;
	margin: auto;
}
#php, #css {
	max-width: 70px;
}
#python {
	max-width: 75px;
}
footer {
  height: 100px;
}

footer p {
  font-size: 1.5em;
  text-align: center;
  margin-top: 40px;
}
/*mobile styling*/
@media only screen and (max-width: 1240px) {
	#about img {
	  width: 250px;
	  padding-left: 10px;
	}
	#skills li {
	  font-size: 1.3em;
	  line-height: 1.5;
	  padding-bottom: 10px;
	  margin-left: 350px;
	  text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	}
	.languages {
		margin: 20px auto 20px 300px;
	}
	.social {
	  grid-column: 1;
	  margin-left: 350px;
	  width: 50%;
	}
}
@media only screen and (max-width: 1000px) {
	#skills li {
		margin-left: 250px;
	}
	.languages {
		margin: 20px auto 20px 200px;
	}
	.social {
		margin-left: 250px;
	}
	#about img {
		width: 200px;
	}
	#about p {
	  margin: 20px auto;
	}
}
@media only screen and (max-width: 1000px) {
	#skills li {
		margin-left: 150px;
	}
	.languages {
		margin: 20px auto 20px 100px;
	}
	.social {
		margin-left: 150px;
		width: 80%;
	}
	#about {
		height: 450px;
	}

}
@media only screen and (max-width: 650px) {
	#skills li {
		margin-left: 50px;
	}
	.social {
		margin-left: 50px;
		width: 80%;
	}
	#about {
		height: 550px;
	}
	.links {
	  text-align: center;
	  margin: auto;
	  padding-left: 50px;
	  padding-top: 55px;
	}
}
@media only screen and (max-width: 580px) {
	.links {
		padding-left: 0px;
	}
	#samantha, #codeday, #kirkmock, #javascript {
		width: 300px;
	}
	.social {
		margin-left: 5px;
		width: 90%;
	}
}
